# PYTHON-OPERATORS:
## OPERATORS:
- Operators are the special symbols or keywords that used to perform specific operations on variables & values

### TYPES:
1. Arthematic Operators 
2. Assignment Operators 
3. Relational Operators 
4. Logical Operators 
5. Bitwise Operators 
6. Membership Operators
7. Identity Operators

## ARTHEMATIC OPERATORS:
- These operators helps you to perform different ***arthematical operations***
- '+' -> addition 
- '-' -> subtraction
- '*' -> multiplication
- '/' -> division (result: **float**)
- '//' -> floor division (result: **integer**)
- '%' -> modulus (result: **remainder**)
- '**' -> exponential (result: *power*)

In [ ]:
a = 15
b = 10
#here we are assigning the values to the 2 different variables

In [ ]:
#now, we use the different arthematic operators to those variables 
a+b, a-b, a*b, a/b, a//b, a%b, a**b
#here you can see the list of values which are the results of above arthematic operators

(25, 5, 150, 1.5, 1, 5, 576650390625)

In [ ]:
a+b #addition

25

In [ ]:
a-b #subtraction

5

In [ ]:
a*b #multiplication

150

In [ ]:
a/b #division

1.5

In [ ]:
a//b #floor division

1

In [ ]:
a%b #modulus

5

In [ ]:
a**b #exponential

576650390625

## RELATIONAL OPERATORS:
These are the operators which helps in indicating the relation b/w two inputs are known as ***Relational Operators***
1. '<'  -> Less than
2. '>'  -> Greater than
3. '<=' -> Less than or Equal to
4. '>=' -> Greater than or Equal to
5. '=='  -> Equal to
6. '!='  -> Not Equal to

In [ ]:
a=8
a==10 #using equal to operator,
# it throws the answer is True (or) False

False

In [ ]:
a<10 #using less than operator

True

In [ ]:
a>10 #using greater than operator

False

In [ ]:
a<=10 #using less than or equal to operator

True

In [ ]:
a>=10 #using greater than or equal to operator

False

In [ ]:
a!=10 #using not equal to operator

True

## LOGICAL OPERATORS:
- The operators which works on principle of logic gates such as 'AND, OR, NOT are known as  ***Logical Operators***.
- The output will always depends on truth tables of respective logic gates.

### AND GATE:
- The both inputs should be true, then only the output will be true
- If any one input is false, then the output will also becomes false

### OR GATE:
- If one input is true, then the output will be true
- If the both inputs are false, then the output will also becomes false

### NOT GATE:
- If the input is True, then the output will be False

## NOTE:
```- Here True and False can also take as 0 & 1 ```

In [ ]:
a = True
b = False
a and b #using and operator, both should be true for resulting True

False

In [ ]:
a = True 
b = True 
a and b

True

In [ ]:
a = True 
b = False 
a or b #using or operator, any should be True for resulting True

True

In [ ]:
a = False 
b = False 
a or b

False

In [ ]:
a = True 
not a #using not operator, resulting the opp value & 1 input is enough

False

In [ ]:
a = False 
not a

True

In [ ]:
a = 10 
b = 20
a and b #using and operator here, resulting in conversion into binary and simplifying by logic gates

20

In [ ]:
a = 10 
b = 20
a or b #using or operator here, resulting in conversion into binary and simplifying by logic gates

10

## NOTE:
- use can convert the decimal numbers into binary form by using the **below syntax**

- **bin(a)** a -> refers to any decimal value

In [ ]:
bin(10) #check the binary value from after b in the result

'0b1010'

In [ ]:
bin(15)

'0b1111'

In [ ]:
bin(32)

'0b100000'

```- the above result contains the binary value only right after from the '0b' ```

- use can convert the decimal numbers into hexa-decimal form by using the **below syntax**

- **hex(a)**; a -> refers to any decimal value

In [ ]:
hex(15)

'0xf'

In [ ]:
hex(29)

'0x1d'

```- the above result contains the hexa-decimal value only right after from the '0x' ```

## BITWISE OPERATORS:
- These operators help in changing the bits of values with the conversion of binary numbers, they are known as ***'Bitwise Operators'.***

1. '&'   -> AND - multiplies opp. values and output becomes 1
2. '|'   -> OR - adds each value and output becomes 1, if any input value is 1
3. '^'   -> X-OR - the output will be 1, if we have 2 different inputs (0x0=0; 0x1=1)
4. '~'   -> NOT - it does the 2's compliment i.e.(1st 1's compliment and adds 1 to the result of 1's compliment) and it negates the result(-ve value)
5. '>>'  -> RIGHT SHIFT - shifting the required bits to the right side of the given value 
6. '<<'  -> LEFT SHIFT - shifting the required bits to the left side of the given value

### AND OPERATOR: (&)
'&' -> AND - multiplies opp. values and output becomes 1, if both inputs are 1

In [ ]:
a = 5
b = 3
a & b #and operator - both binary values should be 1 to result binary value 1

1

### OR OPERATOR: (|)
'|' -> OR - adds each value and output becomes 1, if any input value is 1

In [ ]:
a = 5
b = 3
a | b #or operator - any binary value should be 1 to result binary value 1

7

### X-OR OPERATOR: (^)
'^' -> X-OR - the output will be 1, if we have 2 different inputs (0x0=0; 0x1=1; 1x1=0)

In [ ]:
a = 5 
b = 3
a ^ b #x-or operator - both binary value should not be same to result binary value 1

6

### NOT OPERATOR: (~)
'~'   -> NOT - it does the 2's compliment i.e.(1st 1's compliment and adds 1 to the result of 1's compliment) and it ***negates*** the result(-ve value)

In [ ]:
a = 5
~a #not operator - result in opposite binary values with negative sign (-ve)

-6

In [ ]:
~(12+5)

-18

### RIGHT SHIFT: (>>)
'>>'  -> RIGHT SHIFT - shifting the required binary bits to the right side of the given value

In [ ]:
10 >> 2

2

In [ ]:
12 >> 3

1

### LEFT SHIFT: (<<)
'<<'  -> LEFT SHIFT - shifting the required binary bits to the left side of the given value

In [ ]:
15 << 2

60

In [ ]:
5 << 4

80

## IDENTITY OPERATORS:
- These are the operators which checks if the ***address stored*** in the two variables are ***same or different***
1. **is**
2. **is not**

In [ ]:
a = 5
b = 5
a is b #it indicates that both variables are stored at same location

True

In [ ]:
a = 'lf'
b = 'lg'
a is b #it indicates that the both values are not stored at same location

False

In [ ]:
a = -4
b = -4
a is not b #both stored at same location, so False is in result

False

### Let's check that ID's of both variables same or not

In [ ]:
a = 256
print('a',id(a))
b = 256
print('b',id(b))
a is b

a 140715708371848
b 140715708371848

True

In [ ]:
a = 'rahul'
print('a',id(a))
b = 'ravi'
print('b',id(b))
a is b

a 2582287857056
b 2582289514192

False

### NOTE:
```- positive values upto 256 stores at same location ```

```- negative values upto -5 stroes at same location ```

## MEMBERSHIP OPERATORS:
- It checks the ***existence of a value*** is also ***present in another value or not***.
1. **in**
2. **not in**

In [ ]:
a = 'freedom'
b = 'fr'
b in a #here 'fr' is present in above 'freedom', so the result is True

True

In [ ]:
a = 'freedom'
b = 'fr'
a in b #here 'eedom' from 'freedom' is not present in 'fr', so the result is False

False

In [ ]:
a = 4
b = 24
b in a

TypeError: argument of type 'int' is not iterable

### NOTE:
```- the membership operators does'nt support the integers as they are not iterable ```