## LIST -> [ ] (COLLECTIVE DATA TYPE)
- function which have ***different collection of data's***.
- it consists of various data types such as integers, floats, variables and strings etc...
- ***heterogeneous***
- ordered (indexing and slicing)
- nested (list in a list)
- mutable (also executes the list after changing the data in the given list)

In [1]:
a=[]
type(a) #the empty list is also be a list, but in case of square braces i.e. '[]'

list

In [2]:
b=[1,2.0,'d','lenovo']
b
#its printing the different data types in a list

[1, 2.0, 'd', 'lenovo']

In [3]:
c=[1,2.0,'oppo','hjk',12,345,9+8j,True,[90,12]]
c
#its also printing the complex, boolean data types and also along with a nested list

[1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12]]

In [4]:
c

[1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12]]

In [5]:
c[-1]
#it prints the last value in a list

[90, 12]

In [6]:
c[-1][-1]
#it prints the last value of nested list

12

In [7]:
len(c)
#it prints the length of list with containing values

9

## List Methods:
- .append()
- .remove()
- .extend()
- del()
- .copy
- .deepcopy
- .clear()
- count()
- .index()
- .sort()
- .insert()
- .pop()
- .reverse()

In [8]:
c.append('frame') #adds the 1 value to the list

In [9]:
c #here you can see that 'frame' is added to the list

[1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12], 'frame']

In [10]:
c.remove('frame') #removes the input data from the list

In [11]:
c #here you can see that 'frame' is removed from the list

[1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12]]

In [12]:
c.extend('love') 
#takes the multiple value and adds as individual
#adds the given input and prints as each single seperate letter

In [13]:
c #here you can see that 'sad' is added as multiple values into the list

[1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12], 'l', 'o', 'v', 'e']

In [14]:
c.extend([55,3])
#adds the integers, but in the form of list

In [16]:
c #here you can see that extended list is added to the list

[1,
 2.0,
 'oppo',
 'hjk',
 12,
 345,
 (9+8j),
 True,
 [90, 12],
 'l',
 'o',
 'v',
 'e',
 55,
 3]

In [ ]:
c.count(1) #gives the count of input iterated in the list

2

In [ ]:
c.sort()
#as here the list contains strings, so sort is not possible

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
c=[1,5,73,47,8,61,28,2.5,1.67]
c.sort()
c #it sorts the values i.e. integers & floats in ascending order as default

[1, 1.67, 2.5, 5, 8, 28, 47, 61, 73]

In [ ]:
c=[1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12], 'l', 'o', 'v', 'e','frame']
c.index('frame') 
#it represents the index number of particular value which is given at input

13

In [ ]:
c.clear()
c #it clears all the values present in a list

[]

### copy:
- it changes the input in nested list
#### MUTABLE

In [ ]:
import copy
a=[12,13,14,[11,10]]
b=copy.copy(a)
a[-1][-1]='satya'
print(a)
print(b)

#you can see here that the value changes in nested list while doing copy method

[12, 13, 14, [11, 'satya']]
[12, 13, 14, [11, 'satya']]

### deep copy
- it doesn't changes the nested list
#### IMMUTABLE

In [ ]:
import copy
a=[12,13,14,[11,10]]
b=copy.deepcopy(a)
a[-1][-1]='satya'
#a[0]='satya'
print(a)
print(b)

#you can see here that the value doesn't changes in nested list while doing deep copy method

[12, 13, 14, [11, 'satya']]
[12, 13, 14, [11, 10]]

In [29]:
del(c)
c
#it deletes the total list and results in not defined variable

NameError: name 'c' is not defined