# **Tuple in Python**

A tuple is an **ordered collection** of elements in Python.
- Tuples are **immutable**, meaning once created, their elements **cannot be changed, added, or removed**.
- *Duplicates Allowed*
- *Heterogeneous Data*
- *Indexing & Slicing*
- *Creation*: Defined using parentheses `()` or without parentheses (packing).
```* Example: `t1 = (1, 2, 3)` or `t2 = 1, 2, 3` ```
- **Single-Element Tuple**: Needs a trailing comma, e.g., `(10,)`.
- *Nested Tuples*
  ``` * Example: `(1, (2, 3), (4, 5))` ```

---

In [1]:
a=()
type(a)
#as you can see here that without giving any values the variable declares itself a tuple when defined with a

tuple

In [2]:
a=(10,)
type(a)
#the tuple always should ends with a comma ',' when you given only a single value

tuple

In [3]:
a=(44, 12, 6, 5, 1)
type(a)
#the tuple works for homogeneous data i.e. only single data-type

tuple

In [4]:
b=(1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12], 'frame')
type(b)
#the tuple also works for the heterogeneous data which contains multiple data-types

tuple

In [5]:
b[0:3]
# it gives you the values present in the range of this index

(1, 2.0, 'oppo')

In [6]:
b[0:5:2] 
#SLICING - gives the values in the tuple with these sliced parts

(1, 'oppo', 12)

In [7]:
b[0]='rajeev'
#as tuple is an immutable object, it doesn't change the values

TypeError: 'tuple' object does not support item assignment

## BUILT IN METHODS - TUPLE
- .count() - *gives the count of the values repeated*
- .index() - *gives the index of the value given in input*
- len() - *gives the length of the tuple by calculating no. of values*
- min() - *gives the minimum value in a tuple, when only integers and floats consists*
- max() - *gives the maximum value in a tuple, when only integers and floats consists*
- sum() - *gives sum of all the values in a tuple, when only integers and floats consists*
- del - *it totally deletes the defined tuple and makes it undefined*

In [8]:
b=(1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12], 'frame')

In [9]:
b.count(2)

1

In [10]:
b.index(345)
#it gives you the value of index of input in the list
#you should enter only the value, then only you can get index value

5

In [11]:
len(b)
#it gives the length value of a tuple

10

In [12]:
min(b)
#it supports only the integer and floats values in a tuple

TypeError: '<' not supported between instances of 'str' and 'int'

In [13]:
a=(1,2.0,12,345,90,42)
min(a)
#it gives you the minimum value from list of values in a tuple

1

In [14]:
max(a)
#it gives you the maximum value from list of values in a tuple

345

In [15]:
sum(a)
#it gives you the sum of all values in a tuple
#it also only supports the integer and float values in a tuple

492.0

In [16]:
del(a)
a
#in 1st line I have given a instruction to delete the tuple and 
#in 2nd line I just trying to print the same tuple I deleted before and it says the variable is not defined
#*del* deletes the total variable and makes into not defined one

NameError: name 'a' is not defined

In [17]:
del(b)
b

NameError: name 'b' is not defined