# **Tuple in Python**

A tuple is an **ordered collection** of elements in Python.
- Tuples are **immutable**, meaning once created, their elements **cannot be changed, added, or removed**.
- *Duplicates Allowed*
- *Heterogeneous Data*
- *Indexing & Slicing*
- *Creation*: Defined using parentheses `()` or without parentheses (packing).
```* Example: `t1 = (1, 2, 3)` or `t2 = 1, 2, 3` ```
- **Single-Element Tuple**: Needs a trailing comma, e.g., `(10,)`.
- *Nested Tuples*
  ``` * Example: `(1, (2, 3), (4, 5))` ```

---

In [ ]:
a=()
type(a)
#as you can see here that without giving any values the variable declares itself a tuple when defined with a

tuple

In [2]:
a=(10,)
type(a)
#the tuple always should ends with a comma ',' when you given only a single value

tuple

In [3]:
a=(44, 12, 6, 5, 1)
type(a)
#the tuple works for homogeneous data i.e. only single data-type

tuple

In [5]:
b=(1, 2.0, 'oppo', 'hjk', 12, 345, (9+8j), True, [90, 12], 'frame')
type(b)
#the tuple also works for the heterogeneous data which contains multiple data-types

tuple

In [6]:
b.index(4)

ValueError: tuple.index(x): x not in tuple