# SET:
- A set in Python is an unordered collection of unique and immutable elements.
- It's a built-in data type used for storing multiple items in a single variable, like lists or tuplesâ€”but with some key differences.
1. opens & closes with { }
2. need atleast one character
3. heterogeneous
4. unordered (no indexing & slicing)
5. doesnt allows the duplication
6. immutable

In [1]:
a = {1} #set should contains atleast one character to define as set
type(a)

set

In [2]:
a = set(a)
type(a) #you can define a set like this, without giving atleast one character

set

In [3]:
a = {}
type(a)
#if you create this '{}' braces without a single character, it defines as 'DICTIONARY' as default

dict

In [4]:
a={0,1,2,'rajasthan',3,4,4,3,2}
a #it doesnt allowing the duplication

{0, 1, 2, 3, 4, 'rajasthan'}

In [5]:
a.append(5) 
#immutable - set doesnt allowing to add the variables after creation

AttributeError: 'set' object has no attribute 'append'

In [6]:
a.remove('rajasthan')
a #but, set can remove the elements from it

{0, 1, 2, 3, 4}

In [7]:
a.index(3) 
a #indexing doesnt work, as set doesnt have any order

AttributeError: 'set' object has no attribute 'index'

In [8]:
a[0:3:1] 
a #slicing doesnt work, as set doesnt have any order

TypeError: 'set' object is not subscriptable

In [9]:
min(a) #doesnt allows the minimum or maximum value as it consists the string also
#if doesnt have any strings, the minimum and maximum values works

0

# BUILT-IN METHODS -> SET
- .add()
- .update()
- .pop()
- .clear()
- .remove()
- .discard()
- sorted()

In [10]:
a={1,2,3,90,'kl'}
a.add(4) #it adds the elements into the set, but cant append
a

{1, 2, 3, 4, 90, 'kl'}

In [11]:
a.update('ghi')
a #it adds the string and extends the string as single variable

{1, 2, 3, 4, 90, 'g', 'h', 'i', 'kl'}

In [12]:
a.pop() #it eliminates the elements one by one when executed 
a

{2, 3, 4, 90, 'g', 'h', 'i', 'kl'}

In [13]:
a.discard('kl')
a #it discard (i.e. removes) the element given in the input

{2, 3, 4, 90, 'g', 'h', 'i'}

In [14]:
a.remove('g')
a #it also works as the function of discard i.e removes the element

{2, 3, 4, 90, 'h', 'i'}

In [15]:
sorted(a)
a #it sorts the elements in an order, if only the integer values are present not includes strings.
# as strings are iterable, it doesnt strings to sort.

TypeError: '<' not supported between instances of 'str' and 'int'